[submodule "S01-E08/ansible"]
	path = S01-E08/ansible
	url = https://github.com/ProfessorKazarinoff/ansible-jupyterhub-digitalocean
[submodule "S02-E01/voila-app"]
	path = S02-E01/voila-app
	url = https://github.com/ProfessorKazarinoff/voila-app.git
[submodule "S02-E01/One-dimensional-heroku"]
	path = S02-E01/One-dimensional-heroku
	url = https://github.com/ProfessorKazarinoff/One-dimensional-heroku.git
[submodule "S02-E02/mohrs_circle_streamlit"]
	path = S02-E02/mohrs_circle_streamlit
	url = https://github.com/ProfessorKazarinoff/mohrs_circle_streamlit.git
[submodule "S02-E03/zappa_app_flask"]
	path = S02-E03/zappa_app_flask
	url = https://github.com/ProfessorKazarinoff/zappa_app_flask.git
[submodule "S02-E04/pelican-github-actions"]
	path = S02-E04/pelican-github-actions
	url = https://github.com/ProfessorKazarinoff/pelican-github-actions.git
[submodule "S02-E05/mkdocs-github-pages"]
	path = S02-E05/mkdocs-github-pages
	url = https://github.com/ProfessorKazarinoff/mkdocs-github-pages.git
[submodule "S02-E06/transfer-app"]
	path = S02-E06/transfer-app
	url = https://github.com/ProfessorKazarinoff/transfer-app.git
